.close{
    outline: none !important;
}

.btn{
    border-radius: $radius !important;
    padding-left: 20px;
    padding-right: 20px;
    &:disabled{opacity: .8 !important;}
}

.btn-dismiss{
    position: absolute;
    right: 0;
    top: 0;
}

.list-group{
    border: none !important;
    @extend .rounded;

    a.list-group-item,
    button.list-group-item{
        outline: none;  
        color: $dark;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        background-color: transparent;
        border-top: 0;
        border-left: $border-left solid transparent;
        border-right: 0;
        border-bottom: 0;

        &:hover{
            color: $primary;
            font-weight: 500;
        }

        &:hover .adjust-ellipsis{
            max-width: 100% !important;
        }
    }

    li.list-group-item{
        border: $border !important;
        background-color: $light;
        border-radius: $radius;

        p{
            margin-bottom: 0.5rem !important;
        }
    }
}

.card{
    .card-header{
        background-color: transparent !important;
    }
}

.active{
    // border-left: $border-left solid $primary !important;
    color: $primary !important;
    font-weight: 500 !important;
}

.rounded{
    border-radius: $radius !important;
}

.shadow{
    box-shadow: $shadow !important;
}