@import 'mixins';

$body-bg: #efefef; // #f8fafc;
$body-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(255,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23dddddd'/%3E%3Cstop offset='1' stop-color='%23eeeeee'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(182,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23fff8f5' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23fff8f5' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(360,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23fff8f5' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23fff8f5' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");

$default: #909090; 
$primary: #e41a42; // #0061f2;
$secondary: #3f566c; // #3f51b5;
$light: #f8f9fa;
$success: #4caf50; // #20c997
$warning: #ff9800;
$info: #03a9f4;
$danger: #dc3545;
$dark: #585858;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'warning': $warning,
    'info': $info,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1900px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1610px
);

$shadow: 0 6px 12px rgba(140,152,164,.075);
$shadow-sm: 0px 0px 20px rgba(0, 0, 0, .1);
$dropDown-shadow: 0 10px 40px 10px rgba(140,152,164,.175);
$border: 1px solid rgba(209, 213, 219, 0.3);
$radius: 12px;// .75rem; // 5px;
$btn-radius: 5px;
$img-radius: 2rem;
$img-sm-radius: 1.2rem;
$circle: 50%;
$border-left: 4px;
$font-family: 'Google Sans', 'Poppins', 'Montserrat', 'Roboto', 'Segoe UI', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;