.card{
    overflow: hidden;
    text-align: left;
    @extend .glassmorphism, .shadow;

    .card-body{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .card-icon{
        .feather{
            height: 18px;
            width: 18px;
        }
    }

    h5{
        font-weight: 500;
        color: $dark;
        margin-bottom: 20px;
    }

    .custom-control-label{
        cursor: pointer;
    }

    .input-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: left;
    
        label{
            font-size: .9em !important;
            color: $dark;
            font-weight: normal;
            margin-bottom: 2px;
        }
    
        .form-control, .custom-file-input{
            border-radius: $radius;
            resize: none;
            width: 100%;

            &:focus{
                font-weight: 500;
            }
        }

        .invalid-feedback{
            display: block !important;
            // font-size: inherit !important;
        }
    } 
    
    .actions{
        text-align: right;
    
        button, a{
            height: 38px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}